configuration {
	display-drun: "󱃻 Applications: ";
	display-window: "Windows:";
	drun-display-format: "{name}";
	font: "JetBrainsMono Nerd Font Medium 14";
	modi: "window,run,drun";
	show-icons: true;
	case-sensitive:false;
}

@theme "~/.config/rofi/nord.rasi"

